flows.json
[{"id":"63ecf946e5d263ee","type":"subflow","name":"cowsay","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"79a4374f79c0d6d6"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"79a4374f79c0d6d6","port":0}]}],"env":[],"meta":{"module":"node-red-contrib-cowsay1605","type":"cowsay","version":"0.0.1","author":"Kazuhito Yokoi <kazuhitoyokoi@example.com>","desc":"A node to generate ascii art using cowsay module","keywords":"node-red,cowsay","license":"Apache-2.0"},"color":"#DDAA99"},{"id":"79a4374f79c0d6d6","type":"function","z":"63ecf946e5d263ee","name":"function 4","func":"msg.payload = cowsay2.say(String(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"cowsay2","module":"cowsay2"}],"x":200,"y":80,"wires":[[]]},{"id":"2fcfda867f8c0286","type":"subflow:63ecf946e5d263ee","z":"425e25cf23416832","name":"","x":780,"y":240,"wires":[["1853034e13997ad0"]]}]